
<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
  <aside>
    <img src="https://i.pinimg.com/736x/3f/51/2c/3f512c9c3a075f1dfd44bef6a1c7af6e.jpg" class="w-20 h-20 rounded-3xl">
    <p>
      DinoCode Industries Ltd.
      <br />
      Providing reliable tech since
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Services</h6>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav>
</footer>