<div
  class="hero min-h-screen"
  style="background-image: url(https://i.pinimg.com/736x/ab/fe/7c/abfe7c17e188422eb1e1d78ed884d5be.jpg);">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">League of clowns</h1>
      <p class="mb-5">
      A space to share podiums with friends, enjoy the game, and organize
      lits, roles, and awars based on your favorite champions.
      </p>
      <button routerLink="/players" class="btn btn-primary">Go to players</button>
    </div>
  </div>
</div>





