<div class="flex flex-col justify-center gap-4">
  <h1 class="text-5xl font-extrabold uppercase text-center text-transparent bg-clip-text bg-gradient-to-r from-yellow-400 via-orange-500 to-red-600 drop-shadow-lg tracking-wider">
    <i class="fas fa-trophy mr-3"></i> <!-- Ícono de trofeo -->
    Podiums
  </h1>


<div class="flex flex-row justify-center gap-4">


  <!--row 1-->
  <div class="card bg-base-100 w-96 shadow-sm relative overflow-hidden">
    <figure class="absolute inset-0 z-0">
      <img
        src="https://i.pinimg.com/736x/ca/ed/5b/caed5bd3d70637b9aad580593b9d39e0.jpg"
        alt="Shoes"
        class="w-full h-full object-cover" />
    </figure>
    <div class="card-body relative z-10 text-white">
      <h2 class="card-title text-3xl font-extrabold tracking-wide uppercase drop-shadow-md">Top Kill</h2>

      <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">See more</button>
      </div>
    </div>
  </div>

<!--row 2-->
<div class="card bg-base-100 w-96 shadow-sm relative overflow-hidden">
  <figure class="absolute inset-0 z-0">
    <img
      src="https://i.pinimg.com/736x/ca/ed/5b/caed5bd3d70637b9aad580593b9d39e0.jpg"
      alt="Shoes"
      class="w-full h-full object-cover" />
  </figure>
  <div class="card-body relative z-10 text-white">
    <h2 class="card-title text-3xl font-extrabold tracking-wide uppercase drop-shadow-md">Top Risas</h2>
    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">See more</button>
    </div>
  </div>
</div>

<!--row 3-->
<div class="card bg-base-100 w-96 shadow-sm relative overflow-hidden">
  <figure class="absolute inset-0 z-0">
    <img
      src="https://i.pinimg.com/736x/ca/ed/5b/caed5bd3d70637b9aad580593b9d39e0.jpg"
      alt="Shoes"
      class="w-full h-full object-cover" />
  </figure>
  <div class="card-body relative z-10 text-white">
    <h2 class="card-title text-3xl font-extrabold tracking-wide uppercase drop-shadow-md">Top Muerte</h2>
    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">See more</button>
    </div>
  </div>
</div>

</div>

<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Job</th>
        <th>Favorite Color</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <th>1</th>
        <td>Cy Ganderton</td>
        <td>Quality Control Specialist</td>
        <td>Blue</td>
      </tr>
      <!-- row 2 -->
      <tr>
        <th>2</th>
        <td>Hart Hagerty</td>
        <td>Desktop Support Technician</td>
        <td>Purple</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>3</th>
        <td>Brice Swyre</td>
        <td>Tax Accountant</td>
        <td>Red</td>
      </tr>
    </tbody>
  </table>
</div>


</div>
