<div class="flex flex-row justify-between gap-4 w-full items-start">

  <!-- Top / izquierda -->
  <div class="w-1/4 bg-blue-200 p-4 rounded-lg min-h-[250px]">
    <!-- top -->
  </div>

  <!-- Mid / centro -->
  <div class="w-2/4">
    <div class="card bg-blue-200 shadow-md border border-base-content/10 justify-center min-h-[250px] transition-all duration-300 p-4">
      <div class="card-body">
        MID
        <!--mid-->
      </div>
    </div>
  </div>

  <!-- Bot / derecha -->
  <div class="w-1/4">
    <div class="card bg-base-300 shadow-md border border-base-content/10 rounded-xl w-full p-4 min-h-[250px] transition-all duration-300">
      <div class="card-body p-0">
        <search-bar />
      </div>
    </div>
  </div>

</div>
