<div class="flex flex-col gap-4">
  <search-input (value)="onSearch($event)"></search-input>

  @if (isLoading()) {
    <div class="flex justify-center items-center h-64">
      <span class="loading loading-spinner loading-lg"></span>
    </div>
  } @else {
    <players-list
      [players]="players()"
      [infoPlayer]="infoPlayer()"
      [imgLevelPlayer]="imgLevelPlayer() ?? undefined">
    </players-list>



    <button class="btn btn-primary" (click)="onSaveToPodium()">Save to list</button>

  }


</div>


