<section class="mt-5">
  <div class="overflow-x-auto max-w-full">
    <table class="table table-md w-full">
      <!-- head -->
      <tbody>
        @for (player of players(); track player.puuid; let i = $index) {
          <tr>
            <!--row 1-->
            <td>{{ i + 1 }}</td>
            <td>
              <div class="flex items-center gap-2">
                <!-- Avatar y nivel -->
                <div class="avatar flex flex-col items-center">
                  <div class="mask mask-squircle h-12 w-12">
                    <img [src]="'https://ddragon.leagueoflegends.com/cdn/14.7.1/img/profileicon/' + imgLevelPlayer()?.profileIconId + '.png'"
                      alt="profile icon"
                      class="w-12 h-12"/>
                  </div>
                  <span class="badge badge-sm badge-primary"> {{imgLevelPlayer()?.summonerLevel}}</span>
                </div>

                <!-- Nombre y rango -->
                <div class="flex flex-col gap-2">
                  <div class="font-bold">{{ player.gameName }}#{{ player.tagLine }}</div>

                  <div class="badge badge-neutral badge-sm px-3 py-2" [ngClass]="getTierBadgeClass()">
                    {{ playerInfo.tier }} -> {{ playerInfo.rank }} · LP: {{ playerInfo.leaguePoints }}
                  </div>
                </div>

                <!-- Estadísticas -->
                <div class="flex gap-2">
                  <span class="badge badge-accent">Wins: {{ playerInfo.wins }}</span>
                  <span class="badge badge-error">Losses: {{ playerInfo.losses }}</span>
                </div>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>



