<section class="mt-5">
  <div class="overflow-x-auto">
    <table class="table table-md mt-2 w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Build</th>
          <th>Score</th>
          <th>Level</th>
        </tr>
      </thead>
      <tbody>
        @for (player of players(); track player.puuid; let i = $index) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ player.gameName }}#{{ player.tagLine }}</td>
            <td> -- </td> <!-- Placeholder para Build -->
            <td> -- </td> <!-- Placeholder para Score -->
            <td>{{ infoPlayer()?.summonerLevel ?? 'N/A' }}</td> <!-- Se usa "??" para manejar null -->
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
