  @for (player of podiumPlayers(); track player.idName.puuid) {
    <div class="flex items-center gap-4 p-2 border rounded shadow mb-2 ">
      <div>
        <!-- Avatar-->
        <div class="avatar flex flex-col items-center">
        <div class="mask mask-squircle h-12 w-12">
          <img [src]="'https://ddragon.leagueoflegends.com/cdn/14.7.1/img/profileicon/' + player.imgLevel.profileIconId + '.png'"
            alt="profile icon"
            class="w-12 h-12"/>
        </div>
        <span class="badge badge-sm badge-primary"> {{player.imgLevel.summonerLevel}}</span>
        </div>

        <!-- tier/rank-->

        <div class="font-bold">{{ player.idName.gameName }}#{{ player.idName.tagLine }}</div>
        <div class="text-sm text-gray-500" [ngClass]="getTierBadgeClass(player)">
          @if (player.info && player.info.length > 0) {
            {{ player.info[0].tier }} {{ player.info[0].rank }}
          } @else {
            <span class="text-gray-400">No rank information available</span>
          }
        </div>
      </div>
    </div>
  }
